body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar{
  height: 75px !important;
}
hr {
  width: 15%;
  height: 2px;
  text-align: center;
  margin:  10px auto;
  background-color: #1dbab4;
  color: #1dbab4;
 border-width: solid 2px;
 }
.designImg{
  margin : 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px dotted black;
  border-radius:  20px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  font-size: large;

}
.designImg span{
  font-weight: lighter;
  text-align: center;
  font-size: small;
  padding-top: 10px;
}
.designImg input{
  display: none;
}
img {
  margin: 0;
  padding: 0;
}
.images{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.image{
  margin: 10px 5px;
  position: absolute;
  box-shadow: rgba(0,0,0, 0.5)0px 1px 2px 0px;
}
.image button{
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  border: none;
  color: white;
  background-color: lightcoral;
}
.image button:hover{
background-color: red;

}
.image p{
  padding: 0 5px;
  margin: 0;
}